/* main variables */
/* mixins */
/* shortcuts */
/* fonts */
@font-face {
  font-family: Gotham-Black;
  src: url("/static/fonts/Gotham-Black.otf");
}
@font-face {
  font-family: Gotham-Bold;
  src: url("/static/fonts/Gotham-Bold.ttf");
}
@font-face {
  font-family: Gotham-Book;
  src: url("/static/fonts/Gotham-Book.ttf");
}
@font-face {
  font-family: Gotham-Medium;
  src: url("/static/fonts/Gotham-Medium.ttf");
}
@font-face {
  font-family: Gotham-Light;
  src: url("/static/fonts/Gotham-Light.ttf");
}
@font-face {
  font-family: Sentinel-Bold;
  src: url("/static/fonts/Sentinel-Bold.ttf");
}
@font-face {
  font-family: Sentinel-Black;
  src: url("/static/fonts/Sentinel-Black.ttf");
}
@font-face {
  font-family: Sentinel-Light;
  src: url("/static/fonts/Sentinel-Light.ttf");
}
@font-face {
  font-family: Sentinel-Medium;
  src: url("/static/fonts/Sentinel-Medium.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: Gotham-Light;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gotham-Medium;
}
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: scroll;
}
.cover.cover-main {
  background: #e97255;
  background: -moz-linear-gradient(45deg, #e97255 0%, #bf3919 100%);
  background: -webkit-linear-gradient(45deg, #e97255 0%, #bf3919 100%);
  background: -o-linear-gradient(45deg, #e97255 0%, #bf3919 100%);
  background: -ms-linear-gradient(45deg, #e97255 0%, #bf3919 100%);
  background: linear-gradient(45deg, #e97255 0%, #bf3919 100%);
}
.cover.cover-white {
  color: black;
  border: 7px solid #ddd;
}
.cover.cover-secondary {
  background: #e97255;
  background: -moz-linear-gradient(45deg, #e97255 0%, #e34c27 100%);
  background: -webkit-linear-gradient(45deg, #e97255 0%, #e34c27 100%);
  background: -o-linear-gradient(45deg, #e97255 0%, #e34c27 100%);
  background: -ms-linear-gradient(45deg, #e97255 0%, #e34c27 100%);
  background: linear-gradient(45deg, #e97255 0%, #e34c27 100%);
}
.cover.cover-secondary a {
  color: black;
  font-family: Gotham-Medium;
}
.arrow {
  font-size: 24px;
  padding: 30px 0;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background: transparent url('/static/images/overlay.png');
  opacity: .5;
}
.button-main {
  padding: 10px 20px;
  margin-top: 15px;
  color: white;
  background-color: #e97255;
  border-radius: 3px;
}
.button-main:hover {
  text-decoration: none;
  background-color: #e34c27;
  color: white;
}
.rotate {
  width: 80px;
  height: 80px;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.rotate:hover {
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  transform: rotate(720deg);
}
/* directional arrows for page navigation */
.arrow-down,
.arrow-up {
  width: 100%;
  font-size: 24px;
  text-align: center;
}
.arrow-down:hover,
.arrow-up:hover {
  cursor: pointer;
}
/* styles for join page */
.join-form {
  padding-top: 40px;
}
.standout {
  color: #e65f3e;
  padding-bottom: 10px;
}
.form-group {
  font-family: Gotham-Medium;
}
.form-control:focus {
  border-color: #e65f3e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 95, 62, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 95, 62, 0.6);
}
