<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>Kendrick Llama</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stylesheets/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="page1" class="cover cover-orange">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="col-xs-4 col-xs-offset-4 text-center">
                <h1>LLAMA TIME</h1>
                <p>More info about the majestic beast</p>
                <img src="/static/images/llama.png" class="rotate" />
            </div> 
        </div>
        <div class="arrow-down"><span class="glyphicon glyphicon-chevron-down" data-order="next" data-direction="down" data-page="1"></span></div>
    </div>
    
    <div id="page2" class="cover cover-purple hide">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="col-xs-4 text-center">
                <h2>Header 1</h2>
                <p>llamallamallamallamallamallama llamallamallamallamallamallama llamallamallamallamallamallama llamallamallamallamallamallama</p>
            </div>
            <div class="col-xs-4 text-center">
                <h2>Header 1</h2>
                <p>llamallamallamallamallamallama llamallamallamallamallamallama llamallamallamallamallamallama llamallamallamallamallamallama</p>
            </div>
            <div class="col-xs-4 text-center">
                <h2>Header 1</h2>
                <p>llamallamallamallamallamallama llamallamallamallamallamallama llamallamallamallamallamallama llamallamallamallamallamallama</p>
            </div>
        </div>
        <div class="arrow-up"><span class="glyphicon glyphicon-chevron-up" data-order="prev" data-direction="up" data-page="2"></span></div>
   </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>  
</body>
</html>
